{% extends 'base.html.twig' %}

{% block title %}Hello ParticipantController!{% endblock %}

{% block body %}
<div class="container mt-5">


    <div class="card shadow-sm">
        <div class="card-body">
            <h1 class="card-title mb-4">Formulaire de Participant</h1>

            {{ form_start(form, { 'attr': { 'class': 'needs-validation', 'novalidate': 'novalidate' } }) }}

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        {{ form_label(form.name, 'Name', { 'label_attr': { 'class': 'form-label' } }) }}
                        {{ form_widget(form.name, { 'attr': { 'class': 'form-control' } }) }}
                        {{ form_errors(form.name) }}
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        {{ form_label(form.email, 'Email', { 'label_attr': { 'class': 'form-label' } }) }}
                        {{ form_widget(form.email, { 'attr': { 'class': 'form-control' } }) }}
                        {{ form_errors(form.email) }}
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary mt-4">Enregistrer</button>

            {{ form_end(form) }}
        </div>
    </div>
</div>
{% endblock %}
